main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#sidebar {
  min-width: 250px;
  background: #161616;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#sidebarTitle {
  margin-right: auto;
}

#newConversation {
  width: 100%;
  border: none;
  border-radius: 999em;
  padding: 10px;
  color: #dedede;
  background: #323232;
  cursor: pointer;
}
#newConversation:hover {
  filter: brightness(90%);
}
#newConversation:active {
  filter: brightness(70%);
}

#sidebar hr {
  width: 100%;
  border: 1px solid #434343;
}

#conversationsContainer {
  overflow-y: auto;
  width: 100%;
}

.conversations {
  width: 100%;
  padding: 0 10px;

  display: flex;
  flex-direction: column;
}

.conversation {
  box-sizing: border-box;
  padding: 8px;
  width: 90%;
  border-radius: 4px;
  cursor: pointer;
}
.conversation:hover {
  border-radius: 4px;
  background: #343434;
}

#chatContainer {
  flex-grow: 1;
  background: #232323;
  padding-bottom: 13px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#chat {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#chatMessagesContainer {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#chatMessages {
  width: 90%;
  max-width: 800px;
  padding-top: 20px;
  padding-bottom: 40vh;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.bot-message {
  max-width: 100%;
  padding: 10px 0;

  word-wrap: break-word;
  white-space: pre-wrap;
}

.user-message {
  max-width: 70%;
  padding: 10px 15px;
  margin-left: auto;

  border-radius: 30px;
  background: #343434;

  word-wrap: break-word;
  white-space: pre-wrap;
}

#chatInputContainer {
  margin-top: auto;
  padding: 10px;

  width: 90%;
  max-width: 800px;
  border-radius: 17px;
  border: none;

  background: #343434;

  display: flex;
  flex-direction: column;
}

#chatInput {
  height: auto;
  resize: none;
  overflow: auto;

  padding: 5px;
  margin: 0 auto;

  width: 100%;

  border: none;
  background: transparent;
}
#chatInput:focus {
  outline: none;
  box-shadow: none;
}

#chatSubmit {
  margin-left: auto;

  height: 30px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;

  cursor: pointer;

  border: none;
  background: #cdcdcd;
  color: #343434;
  font-weight: 700;
}
#chatSubmit:enabled:hover {
  background: #bcbcbc;
}
#chatSubmit:enabled:active {
  background: #ababab;
}
#chatSubmit:disabled {
  background: #898989;
}

