{% extends "base.jinja" %}

{% block head %}
<link rel="stylesheet" href="{{ static('pages/index.css') }}">
{% endblock %}

{% block body %}
<div class="main">

  <div class="sidebar">
  </div>

  <div class="chat">
    <div class="chat-history">
    </div>

    <div class="chat-input">
      <textarea id="chatInput" placeholder="Ask a question"></textarea>
      <button id="chatSubmit">▲</button>
    </div>
  </div>

</div>

<script>
</script>
{% endblock %}
