{% extends "base.jinja" %}

{% block head %}
<link rel="stylesheet" href="{{ static('pages/index.css') }}">
{% endblock %}

{% block body %}
<main>

  <div id="sidebar">
    <h2 id="sidebarTitle">DjatGPT</h2>
    <button id="newConversation">🗣️ New Conversation</button>
    <hr>
    <div id="conversationsContainer">
    </div>
  </div>

  <div id="chatContainer">
    <div id="chat">
      <div id="chatMessagesContainer">
      </div>

      <div id="chatInputContainer">
        <textarea id="chatInput" placeholder="Ask a question"></textarea>
        <button id="chatSubmit">▲</button>
      </div>
    </div>
  </div>

</main>

<script>
{
  const UserMessage = (message) =>
    van.tags.div(
      { class: "user-message" },
      message.text,
    );

  const BotMessage = (message) =>
    van.tags.div(
      { class: "bot-message" },
      message.text,
    );

  class ChatArea {
    constructor() {
      // state
      this.currentConversationId = 0;
      this.messages = van.state([]);
      this.conversations = van.state([
        {% for conversation in conversations %}
        {
          id: "{{ conversation.id }}",
          title: "{{ conversation.title }}",
        },
        {% endfor %}
      ])

      // init
      this.initUI();
      this.initSSE();
    }

    initUI() {
      this.ui = {};

      this.ui.newConversation = document.getElementById("newConversation");
      this.ui.newConversation.addEventListener("click", () => {
        this.newConversation();
      });

      this.ui.conversationsContainer = document.getElementById("conversationsContainer");
      van.add(
        this.ui.conversationsContainer,
        () => van.tags.div(
          { class: "conversations" },
          this.conversations.val.map(
            conversation =>
              van.tags.div(
                {
                  class: "conversation",
                  onclick: async () => {
                    await this.loadConversation(conversation.id);
                  }
                },
                conversation.title
              )
          )
        )
      );

      this.ui.chatInput = document.getElementById("chatInput");
      this.ui.chatInput.addEventListener("input",  this.adjustChatInputHeight.bind(this));
      this.ui.chatInput.addEventListener("keypress", async (e) => {
        if (e.key === "Enter" && !e.shiftKey) {
          e.preventDefault();
          await this.submitMessage();
        }
      });
      this.adjustChatInputHeight(); // call to prevent height jump when initially typing

      this.ui.chatSubmit = document.getElementById("chatSubmit");
      this.ui.chatSubmit.addEventListener("click", () => {
        this.submitMessage();
      });

      this.ui.chatMessagesContainer = document.getElementById("chatMessagesContainer");
      van.add(
        this.ui.chatMessagesContainer,
        () => van.tags.div(
          { id: "chatMessages" },
          this.messages.val.map(
            message =>
              message.fromUser
                ? UserMessage(message)
                : BotMessage(message)
          )
        )
      );
      van.derive(() => {
        this.messages.val;
        setTimeout(this.adjustChatMessagesScroll.bind(this), 0);
      });
    }

    async loadConversation(id) {
      this.messages.val = [];
      const response = await fetch(`/get_conversation_messages/${id}`,
        {
          method: "GET",
          headers: {
            'X-CSRFToken': '{{ csrf_token|escapejs }}',
            'Content-Type': 'application/json',
          },
        }
      );

      if (!response.ok) {
        console.log(response.error);
      }

      const responseJson = await response.json();
      console.log(responseJson);
      this.messages.val = responseJson.messages;
    }

    newConversation() {
      console.log("newConversation");
      this.messages.val = [];
      fetch("{{ url('new_conversation')|escapejs }}",
        {
          method: "POST",
          headers: {
            'X-CSRFToken': '{{ csrf_token|escapejs }}',
            'Content-Type': 'application/json',
          },
        }
      );
    }

    adjustChatMessagesScroll() {
      this.ui.chatMessagesContainer.scrollTop = this.ui.chatMessagesContainer.scrollHeight;
      const lastMessage = document.getElementById("chatMessages").lastChild;
      if (!lastMessage) return;
      lastMessage.scrollIntoView({ block: "start" });
    }

    adjustChatInputHeight() {
      this.ui.chatInput.style.height = 'auto'; // force height reset
      const newHeight = Math.min(this.ui.chatInput.scrollHeight, 200);
      this.ui.chatInput.style.height = newHeight + 'px';
    }

    enableChatInput(enable) {
      this.ui.chatInput.disabled = !enable;
      this.ui.chatSubmit.disabled = !enable;
    }

    initSSE() {
      const conversationUpdate = new ReconnectingEventSource("/_sse/conversation_update");
      conversationUpdate.addEventListener("message", async (event) => {
        console.log("sse: conversations_update")
        const data = JSON.parse(event.data);
        console.log(data);
        this.conversations.val = data.conversations;
      });

      const botChunk = new ReconnectingEventSource("/_sse/bot_chunk");
      botChunk.addEventListener("message", async (event) => {
        console.log("sse: bot_chunk")
        const message = JSON.parse(event.data);
        if (message.stop) {
          this.enableChatInput(true);
          return;
        }

        let end = this.messages.val.length - 1;
        let lastMessage = this.messages.val[end];
        console.log(lastMessage);
        if (lastMessage.fromUser) {
          this.messages.val = [
            ...this.messages.val,
            { fromUser: false, text: "" },
          ];
          end = this.messages.val.length - 1;
          lastMessage = this.messages.val[end];
        }

        lastMessage.text += message.chunk;
        this.messages.val = [...this.messages.val];
      });
    }

    async submitMessage() {
      const userMessage = this.ui.chatInput.value.trim();
      if (!userMessage) return;

      this.ui.chatInput.value = "";
      this.adjustChatInputHeight();

      this.messages.val = [
        ...this.messages.val,
        { fromUser: true, text: userMessage },
      ];

      this.enableChatInput(false);

      const response = await fetch(`{{ url('send_message')|escapejs }}`,
        {
          method: "POST",
          headers: {
            'X-CSRFToken': '{{ csrf_token|escapejs }}',
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            "message": userMessage,
            "conversation_id": this.currentConversationId,
          }),
        }
      );

      const responseJson = await response.json();
      console.log(responseJson);
      this.currentConversationId = responseJson.conversation_id;
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    new ChatArea();
  });
}
</script>
{% endblock %}
